{block #content}
    <p n:isAllowed="user, edit">
        <a n:href="User:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Vytvořit nového uživatele</a>
    </p>
    {control gridUser}
{/block}
