{block #content}
    <p n:isAllowed="user, edit">
        <a n:href="editOperation, aclResourceId => $aclResource->getId()" class="btn btn-primary"><i class="glyphicon glyphicon-plus icon-plus"></i>Vložit novou operaci</a>
    </p>
    {control gridOperation}
{/block}